<p>Dear proffesor {{ teacherFullName }},</p>

<p>
      <h1>Information</h1>
    <br>
    School : {{school}}
    <br>
    School Class : {{schoolClass}}
    <br>
    ClassCode : {{classCode}}
    <br>
    Student : {{studentName}}
    <br>
    Email : {{studentEmail}}

</p>
<h1>{{title}}</h1>
<p>
    Message :
    <br>
 {{message}}
</p>